* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.menu {
    padding: 10px;
    border-bottom: 1px black solid;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 15px;
    width: 100%;
}

.menu-title {
    display: flex;
    justify-content: right;

}

.menu-title:hover .menu-item {
    display: block;
    color: blue;
}

.menu-list {

    /*
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;*/
}

.menu-list a {
    color: black;
}

h1 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: grid;
    height: 100%;
}

.category {
    display: none;

}

.article-container {
    width: 89%;
    margin: 10px 20px 30px 20px;
}

.image {
    width: auto;
    height: 180px;
    background-color: lightgray;
}

.data-container {
    display: flex;
    justify-content: space-between;
}

.span {
    text-decoration: underline;
}

.menu-list-footer {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border-top: 1px solid black
}

.menu-item-footer {
    color: black;
    text-decoration: underline;
    margin-top: 10px;
}


@media (min-width: 480px) {

    .menu {
        position: static;
        height: 30px;
        display: flex;
        justify-content: center;
    }

    .menu-title {
        display: none;
        margin-top: 0px;
    }

    .menu-list {
        display: flex;
        justify-content: right;
        gap: 15px;
        align-items: center;
        margin-bottom: 10px;
        margin-right: 5%;
    }

    .article-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .menu-list-footer {
        justify-content: left;
        align-items: center;

        height: 4vh;
    }
}

@media (min-width: 768px) {
    .main {
        height: 83vh;
    }

    .wrapper {
        grid-template-columns: 4fr 1fr;
    }

    .category {
        display: flex;
        border-left: 1px solid black;
        order: 2;
    }

    .category-title {
        margin: 25px 0 10px 15px;
    }

    .category-list {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .article-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu-list-footer {
        height: 7vh;
        justify-content: right;
        align-items: center;

    }

}